@import 'public/style/animations.scss';

.list {
 display: grid;
 grid-template: 195px 170px / 1fr;
 width: 100%;
 height: 100%;
 border-radius: 5px;
 animation: pulse linear infinite 1s alternate;
}

.skeleton {
 display: grid;
 grid-template: 370px / repeat(auto-fill, 250px);
 grid-auto-rows: 370px;
 justify-content: start;
 margin-top: 10px;
 gap: 20px;
}

.wrapper {
 width: 100%;
 height: 100%;
 border-radius: 0 0 5px 5px;
 background-color: #d8dfe7;
}

.img {
 width: 100%;
 height: 100%;
 border-radius: 5px 5px 0 0;
}

@import './skeletonProducts.module.media.scss';
