.burger {
    span {
        transition: all 0.5s linear;
        display: block;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        margin-top: 2px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__active {
        :nth-child(1) {
            transform: rotate(45deg);
            margin-left: 2px;
        }
        :nth-child(2) {
            display: none;
        }
        :nth-child(3) {
            transform: rotate(-45deg);
            margin: 0 0 2px 2px;
        }
    }
}

.nav__active {
            transform: none;
    }

