@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url('../fonts/') format('woff2'), url('../fonts/Robotomono.woff') format('woff'), url('../fonts/Robotomono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}