@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url('../fonts/Robotomono.woff2') format('woff2'), url('../fonts/Robotomono.woff') format('woff'), url('../fonts/Robotomono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Kumbh Sans';
    src: local('Kumbh Sans Bold'), local('Kumbh-Sans-Bold'),
        url('../fonts/KumbhSans-Bold.woff2') format('woff2'),
        url('../fonts/KumbhSans-Bold.woff') format('woff'),
        url('../fonts/KumbhSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}