.header {
    position: relative;
    &__nav {
        position: fixed;
        height: 70px;
        background-color:rgba(27, 154, 218, 0.6);
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 2;
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-logo {
            height: 50px;
            width: 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        ul {
           list-style-type: none;
           padding: 0;
           margin: 0;
           display: flex;
           a {
               text-decoration: none;
               position: relative;
               color: white;
               font-size: 22px;
               &:before {
                    content: '';
                    position: absolute;
                    border-top: rgba(255, 255, 255, 0.5) solid 1px;
                    top: -5px;
                    left: 0;
                    width: 0%;
                    transition: all 0.5s ease-in-out;
               }
               &::after {
                    content: '';
                    position: absolute;
                    border-top: rgba(255, 255, 255, 0.5) solid 1px;
                    bottom: -5px;
                    left: 0;
                    width: 0%;
                    transition: all 0.5s ease-in-out;
               }
               &:hover {
                   opacity: 0.7;
                   &::before {
                       width: 100%;
                   }
                   &::after {
                       width: 100%;
                   }
               }
           }
           li {
               color: white;
               padding-right: 25px;
               position: relative;
               &::after {
                   content: '/';
                   position: absolute;
                   top: 50%;
                   transform: translate(50%, -50%);
                   right: 12px;
               }
               &:last-child::after {
                   content: '';
                   padding-left: 0;
               }
               &:last-child {
                   padding-right: 0;
               }
           }
        }
        &-sub {
           height: 71px;
           width: 100%;
           position: absolute;
           top: 70px;
           background-color: rgba(27,192,218, 0.7);
        }
        &-wrapper {
           display: flex;
           justify-content: space-between;
           align-items: center;
           a {
               text-decoration: none;
           }
        }
        &-addr {
            margin-bottom: 0;
        }
        &-social {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border-color: #ffffff;
            color: #4887F5;
            background-color: #ffffff;
            cursor: pointer;
        }
        &-phone {
            display: flex;
            flex-direction: column;
        }
        &-title {
           color: white;
           font-size: 18px;
        }
        &-tel {
           color: white;
           &:hover {
               color: #95DA1B;
           }
        }
        &-time {
            color: white;
            font-size: 15px;
        }
        &-email {
           font-size: 17px;
           color: white;
           &:hover {
            color: #95DA1B;
        }
       }
    }
    &__sub {
        width: 100%;
        background: url(../img/bg.jpg) center center / cover no-repeat;
        min-height: 800px;
        padding: 142px 0 100px 0;
        &-computer {
                position: absolute;
                right: 10px;
                top: 120px;
                height: 370px;
                width: 450px;
                z-index: 1;
        }
        &-text {
            position: absolute;
            top: 440px;
            right: 0;
            z-index: 2;
            color: rgba(225, 245, 247, 0.7);
            font-size: 40px;
            text-transform: uppercase;
            text-shadow:black 2px 3px 4px;            
        }
    }
    &__promo { 
        width: 400px;
        letter-spacing: 1px;
        margin-top: 45px;
        span {
            display: inline-block;
            font-size: 36px;
            color: $azure;
            text-shadow:black 4px 4px 1px;
            font-family: 'Montserrat', sans-serif;
        }
    }
    &__text {
        width: 545px;
        margin-top: 35px;
        padding: 0;
        margin-bottom: 0;
            li {
            list-style-type: none;
            letter-spacing: 1px;
            margin: 0;
            padding: 0;
            color: #F8F807;
            font-size: 24px;
            margin-top: 10px;
            text-shadow: 2px  2px 0 #000,
                        -1px -1px 0 #000,  
                        1px -1px 0 #000,
                        -1px  1px 0 #000,
                        1px  1px 0 #000;
        &:first-child {
            margin-top: 0;
        }
        &::before {
            content: '\2714';
            width: 10px;
            height: 10px;
            margin-right: 20px;
            color: #CD2A0A;
        }
        }
    }
}