.header {
    height: 1000px;
    background: url(../img/bg.jpg) center 20% / cover no-repeat;
    &__nav {
        position: fixed;
        height: 70px;
        background-color:rgba(27, 154, 218, 0.6);
        width: 100%;
        display: flex;
        align-items: center;
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-logo {
            height: 50px;
            width: 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
       ul {
           list-style-type: none;
           padding: 0;
           margin: 0;
           display: flex;
           a {
               text-decoration: none;
               color: white;
               font-size: 22px;
           }
           li {
               color: white;
               padding-right: 10px;
               &::after {
                   content: '/';
                   padding-left: 10px;
               }
               &:last-child::after {
                   content: '';
                   padding-left: 0;
               }
               &:last-child {
                   padding-right: 0;
               }
           }
       }
    }
    &__sub {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px;
    }
    &__promo {
        width: 400px;
        margin-top: 200px;
        li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #ffffff;
        &::before {
            content: '\2714';
            width: 10px;
            height: 10px;
        }
        }
    }
}