.stationery {
	min-height: 500px;
	padding: 100px 0;
	background: url('../img/bg3.jpg') center center / cover no-repeat;
	&__text {
		color: #ffffff;
		font-size: 24px;
		width: 76%;
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		&-img {
			width: 49%;
			height: 360px;
			margin-top: 25px;
			border: solid $light-blue 1px;
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}
