.title {
    font-size: 50px;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    text-shadow: black 4px 2px 2px;
}