.title {
    font-size: 50px;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 0;
    text-shadow:black 2px 3px 4px;
    &-cartridge {
        margin-top: 0;
        text-shadow:#4887F5 2px 3px 4px;
    }
}