@import 'header';
@import 'fonts';
@import 'phone';
@import 'icomoon';
@import 'title';
@import 'cartridge';
.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
* {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
}