@import 'base/mixins';
@import 'base/vareable';
@import 'animations';
@import 'fonts';
@import 'header';
@import 'phone';
@import 'icomoon';
@import 'title';
@import 'tabs';
@import 'nav';

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
* {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
}