.input {
 height: 100%;
 width: 100%;
 padding: 5px 10px;
 border-radius: 5px;
 border: 1px solid var(--light-blue);
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 input {
  width: 100%;
 }
 &::placeholder {
  text-align: center;
 }
 &:focus {
  outline: none;
  border-color: var(--azure);
  box-shadow: 1px 1px 10px 1px var(--azure);
 }
}
.error {
 border: 1px solid var(--red);
 &:focus {
  outline: none;
  border-color: var(--red);
  box-shadow: 1px 1px 10px 1px var(--red);
 }
}
