.popup {
 position: fixed;
 //  display: none;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
 background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
 background-color: var(--light-blue);
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border-radius: 5px;
 width: 500px;
 padding: 20px 30px;
}

.form {
 display: grid;
 grid-template: auto repeat(3, 60px) 110px auto auto auto / 1fr;
 text-align: center;
 grid-template-areas:
  'title'
  'inputName'
  'inputPhone'
  'inputEmail'
  'textarea'
  'spinner'
  'button'
  'message';
}

.title {
 grid-area: title;
 font-size: 25px;
 color: #ffffff;
 margin-bottom: 10px;
}

.close {
 position: absolute;
 top: 0;
 right: -45px;
 height: 40px;
 width: 40px;
 font-size: 50px;
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #ffffff;
 cursor: pointer;
}

.input {
 margin-bottom: 10px;
}

.inputName {
 grid-area: inputName;
}

.inputPhone {
 grid-area: inputPhone;
}

.inputEmail {
 grid-area: inputEmail;
}

.textarea {
 grid-area: textarea;
 margin-bottom: 10px;
}

.spinner {
 grid-area: spinner;
 display: none;
}

.button {
 grid-area: button;
 justify-self: center;
 margin-top: 10px;
}

.message {
 grid-area: message;
 font-size: 22px;
 margin-top: 10px;
}

.success {
 color: rgb(101, 237, 101);
 display: none;
}

.error {
 color: rgb(249, 73, 73);
 display: none;
}
