@media (max-width: 1199px) {
}

@media (max-width: 991px) {
 .textarea {
  height: 100px;
 }
}

@media (max-width: 767px) {
 .textarea {
  height: 90px;
 }
}

@media (max-width: 480px) {
 .textarea {
  height: 80px;
 }
}
