@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	src: local('Montserrat'), url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../assets/fonts/Montserrat-SemiBold.ttf') format('ttf'),
		url('../assets/fonts/Montserrat-SemiBold.eot') format('eot');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: normal;
	src: local('Roboto Mono'), url('../assets/fonts/Robotomono.woff') format('woff'),
		url('../assets/fonts/Robotomono.ttf') format('ttf'),
		url('../assets/fonts/Robotomono.woff2') format('woff2');
}
