@import './fonts';
@import './vareable';
@import './mixins';
@import './reboot';
@import './animations';

.container {
	width: 1140px;
	margin: 0 auto;
	position: relative;
}

* {
	font-family: Roboto Mono, sans-serif;
}

body {
	background-color: var(--background);
}
