.menu {
 display: grid;
 grid-template: minmax(70px, auto) / repeat(auto-fit, minmax(120px, 150px));
 grid-auto-rows: minmax(50px, auto);
 justify-content: center;
 gap: 10px;
 margin-bottom: 30px;
}

.link {
 display: grid;
 justify-items: center;
 align-items: center;
 text-align: center;
 padding: 5px 10px;
 color: white;
 box-shadow: 3px 3px 10px black;
 background-color: var(--light-blue);
 border: none;
 font-weight: 700;
 border-radius: 5%;
 cursor: pointer;
 &:hover {
  background: linear-gradient(180deg, var(--light-blue) 0%, var(--azure) 100%);
 }
 &:active {
  box-shadow: 1px 1px 10px black;
 }
}

.active {
 background-color: var(--blue);
 &:hover {
  background: linear-gradient(180deg, var(--blue) 0%, var(--light-blue) 100%);
 }
}
