.InformationPanel {
	width: 100%;
	height: 70px;
	background-color: var(--light-blue);
	padding: 5px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		a {
			text-decoration: none;
		}
	}
	&__social {
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		color: var(--light-blue);
		background-color: #ffffff;
		cursor: pointer;
		img {
			width: 100%;
			height: 100%;
		}
		&:hover {
			transform: translateY(-2px);
			box-shadow: 2px 2px 5px #000000;
		}
	}
	&__phone {
		display: flex;
		flex-direction: column;
		color: white;
		font-size: 16px;
	}
	&__adress {
		color: white;
		font-size: 18px;
	}
	&__tel {
		color: white;
		&:hover {
			color: var(--azure);
		}
	}
	&__time {
		color: white;
		font-size: 16px;
	}
	&__link {
		font-size: 17px;
		color: white;
		&:hover {
			color: var(--azure);
		}
	}
	&__email {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: white;
		font-size: 17px;
	}
	&__logo {
		height: 100%;
		width: 100px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		a {
			text-decoration: none;
			position: relative;
			color: white;
			font-size: 22px;
			&:before {
				content: '';
				position: absolute;
				border-top: rgba(255, 255, 255, 0.5) solid 1px;
				top: -5px;
				left: 0;
				width: 0%;
				transition: all 0.5s ease-in-out;
			}
			&::after {
				content: '';
				position: absolute;
				border-top: rgba(255, 255, 255, 0.5) solid 1px;
				bottom: -5px;
				left: 0;
				width: 0%;
				transition: all 0.5s ease-in-out;
			}
			&:hover {
				opacity: 0.7;
				&::before {
					width: 100%;
				}
				&::after {
					width: 100%;
				}
			}
		}
		li {
			color: white;
			padding-right: 25px;
			position: relative;
			&::after {
				content: '/';
				position: absolute;
				top: 50%;
				transform: translate(50%, -50%);
				right: 12px;
			}
			&:last-child::after {
				content: '';
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}
