.header {
 width: 100%;
 height: auto;
 background-color: var(--light-blue);
 padding: 5px 0;

 .wrapper {
  display: grid;
  grid-template: auto / 115px 35px auto auto auto auto;
  align-items: center;
  justify-items: flex-end;
  gap: 5px;
 }

 .social {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #fff;
  color: var(--light-blue);
  cursor: pointer;
  img {
   width: 100%;
   height: 100%;
  }
  &:hover {
   transform: translateY(-2px);
   box-shadow: 2px 2px 5px #000000;
  }
 }

 .phone {
  display: grid;
  grid-template: auto auto auto / auto;
  color: white;
 }

 .adress {
  display: grid;
  grid-template: auto auto / auto;
  color: white;
  font-style: normal;
 }

 .tel {
  color: white;
  &:hover {
   color: var(--azure);
  }
 }

 .time {
  display: grid;
  grid-template: auto auto auto / auto;
  color: white;
 }

 .email {
  display: grid;
  grid-template: auto auto / auto;
  color: white;
  a {
   &:hover {
    color: var(--azure);
   }
  }
 }

 .logo {
  height: 50px;
  width: 115px;
 }
}
