.link {
 display: grid;
 width: 100%;
 height: 100%;
 justify-items: center;
 align-items: center;
 text-align: center;
 padding: 5px 10px;
 color: white;
 font-weight: 700;
 border-radius: 5%;
 font-size: 1.1rem;
 transition: all linear 0.3s;
 cursor: pointer;
 @media (hover: hover) {
  &:hover {
   background-color: var(--light-blue);
   box-shadow: 2px 2px 5px black;
  }
 }
 &:active {
  box-shadow: 1px 1px 3px black;
 }
}

.active {
 background-color: var(--light-blue);
 box-shadow: 2px 2px 5px black;
 transition: none;
 @media (hover: hover) {
  &:hover {
   background: linear-gradient(180deg, var(--blue) 0%, var(--light-blue) 100%);
  }
 }
}

@import './LinkButton.module.media.scss';
