@media (max-width: 1199px) {
 .link {
  padding: 4px 8px;
 }
}

@media (max-width: 991px) {
 .link {
  padding: 4px 8px;
 }
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
 .link {
  padding: 2px 4px;
 }
}
